body{
  background-color: gray;
  text-align:center;
  font-family: sans-serif;
}

h1{
  color: #191C59;
}

p{
  color: #191C59;
}

.javascript{
  text-align: left;
  text-indent: 400px;
  color: black;
}
